.app-container {
  /*text-align: center;
  margin-top: 20px;*/
}
  .header {
    display: flex;
    align-items: center;
    top:30px;
  }

  .pickupLogo {
    top : 30px;
    width: 50px; /* 로고 이미지의 너비를 조절하세요 */
    height: auto; /* 높이는 자동으로 조절됩니다 */
  }

  .rewardRoom {
    left:calc(50% - 39px);
    font-size: 20px;
    letter-spacing: 0.02em;
    /*margin-left: 10px; /* 로고와의 간격을 조절하세요 */
  }

  .div {
    top: 80px;
    font-size: 12px;
    font-weight: 600;
    color: #3a3939;
    margin-left:10px;
  }
  .points {
    top: 152px;
    font-size: 16px;
    font-weight: 800;
    margin-left:10px;
  }
  .rewardRoom {
    position: absolute;
    top: 50px;
    font-size: 15px;
    letter-spacing: 0.02em;
  }
  .pickuplogo {
    position: absolute;
    top: 20;
    left: 0;
    width: 100px;
    height: auto;
    object-fit: cover;
  }

  
  .background {
    width: 86%; /* 이미지 크기에 맞게 조절하세요 */
    height: 60%; /* 이미지 크기에 맞게 조절하세요 */
    margin: 10px auto;
  }
  
  .backgroundImage{
    position:'relative';
    width:100%;
    height:70%;
  }

  .plant-container {
    position: absolute;
    bottom: 20%;
    left: 50%;
    /*transform: translateX(-50%);*/
  }

  .plantImage{
    position: absolute;
    width : 50%;
    height : auto;
    bottom:12%; /* 식물의 위치를 60%로 조절 */
    left: 50%;
    transform: translate(-50%);
    }
  .finalPlantImage{
    position : absolute;
    width : 100%;
    height : auto;
    left : 80%;
    bottom:10%;
    transform: translate(-50%);
    object-fit : cover;
    
    
  }
  .button {
    position:absolute;
    top: 80%;
    background-color: rgb(90, 90, 187);
    /* 추가적인 스타일은 필요에 따라 추가하세요 */
  }
  