
  .signinbutton{
   
    /*top : 60%;
    left : 70%;*/
    width: 140px;
    height: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;
    gap: 8px;
    text-align: left;
    font-size: 12px;
    background-color: (97, 158, 67)#4a603f;

  }
  
  .enterbutton {
    /*top: 50%;
    left: center;*/
    text-align: left;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    width : 170px;
    padding: 10px 12px;
    display: flex;
    flex-direction: row;
    background-color : #4a603f;
  }
  